/*###########################################################################
  Border variables
  ########################################################################### */

$BORDER_RADIUS: 32px;
$BORDER_RADIUS_MED: 12px;
$BUTTON_RADIUS: 5px;
