/*###########################################################################
  Font setup
  ########################################################################### */


/*- Setting the font variables
  --------------------------------------------------------------------------  */

$GOTHAM_BOLD:  'Gotham-Bold';
$GOTHAM_LIGHT: 'Gotham-Light';


/*- Assigning Heading and Body fonts
  --------------------------------------------------------------------------  */

$FONT_HEADING: $GOTHAM_BOLD;
$FONT_BODY:    $GOTHAM_LIGHT;