/*###########################################################################
  Fonts setup
  ########################################################################### */

/*- Setting the font variables
  --------------------------------------------------------------------------  */

$SWISS_721_BC:    "Swiss 721 Bold Condensed BT";
$SWISS_721_LC:    "Swiss 721 Light Condensed BT";
$GEORGIA:         Georgia;


/*- Assigning Heading and Body fonts
  --------------------------------------------------------------------------  */

$FONT_HEADING:  $SWISS_721_BC;
$FONT_INPUT:    $SWISS_721_LC;
$FONT_BODY:     $GEORGIA;



/*- fontsMap
  --------------------------------------------------------------------------  */

$fontsMap: (
  heading:        $FONT_HEADING,
  input:          $FONT_INPUT,
  body:           $FONT_BODY,
  swiss-721-bc:   $SWISS_721_BC,
  swiss-721-lc:   $SWISS_721_LC,
);
