/*###########################################################################
  Line height variables
  ########################################################################### */

$DEFAULT_LINE_HEIGHT: 1.2em;
$LINE_HEIGHT_LARGE:   1.65em;
$LINE_HEIGHT_BODY:    2.8rem;