/*###########################################################################
  The spacing values used for margins / padding / overflows
  ########################################################################### */

/*- Spacing variables
  --------------------------------------------------------------------------  */

$SPACING_1: 0.3rem;
$SPACING_2: 1rem;
$SPACING_3: 2rem;
$SPACING_4: 4rem;
$SPACING_5: 5rem;
$SPACING_8: 8rem;