/*###########################################################################
  Transition variables
  ########################################################################### */

$TRANSITION_DURATION_QUICK: 0.2s;
$TRANSITION_DURATION_SHORT: 0.4s;
$TRANSITION_DURATION_LONG:  0.7s;

$DEFAULT_TIMING_FUNCTION: ease-in-out;