/*###########################################################################
  The utility classes for background images
  ########################################################################### */


.bg-cover-central {
  background-size:     cover;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
}