/*###########################################################################
  Color utility classes
  ########################################################################### */

/*- Color classes
  --------------------------------------------------------------------------  */

// Loops over the colorsMap
// @$name: morning-glory, horizon, romance, etc.
// @$color_hex: #97D2D4, #598B9F, #E3F2F3, etc.
@each $name, $color_hex in $colorsMap {
  .c-#{$name} {
    color: $color_hex;
  }
  .c-bg-#{$name} {
    background-color: $color_hex;
  }
}

.link-color-light {
  a {
    color: $FONT_LIGHT !important;
  }
}

.c-white-container {
  .container-text {
    color: $WHITE;
  }
}