/*###########################################################################
  Font utility classes
  ########################################################################### */

/*- Generating font classes
  --------------------------------------------------------------------------  */

@each $class, $font in $fontsMap {
  .f-#{$class} {
    font-family: $font;
  }
} 

.clear-decoration {
  text-decoration: none;
}

.clear-transform {
  text-transform: none !important;
}

.lh-1 {
  line-height: 1;
}

.p-tight { 
  p, li {
    margin-block-end: 0.2em;
    margin-block-start: 0.2em;
    line-height: 1.2;
  }
}

.nowrap {
  white-space: nowrap;
}

.quotes {
  position: relative;
  &:before {
    content: open-quote;
    left: -10px;
    top: 0;
    transform: translateY(-30%);
  }
  &:after {
    content: close-quote;
    right: -10px;
    bottom: 0;
    transform: translateY(80%);
  }
  &:before, &:after {
    position: absolute;
    color: $TANGO;
    font-size: 72px;
    font-family: $SWISS_721_BC;
  }
}