/*###########################################################################
  Line height utilities
  ########################################################################### */

.lh-large {
  line-height: $LINE_HEIGHT_LARGE;
}

.lh-default {
  p {
    line-height: $DEFAULT_LINE_HEIGHT;
  }
}

.lh-body {
  p, li {
    line-height: $LINE_HEIGHT_BODY;
  }
}

.lh1 {
  line-height: 1;
  p {
    line-height: 1;
  }
}