/*###########################################################################
  List utility classes
  ########################################################################### */

.l-style-none {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  padding-left: 0;
}

.l-style-bars {
  > li {
    flex-grow: 1;
  }
  > li:not(:last-child) {
    position: relative;
    &:after {
      position: absolute;
      height: 100%;
      width: 2px;
      top: 0;
      right: 0;
      content: ' ';
      background-color: $GRANNY_SMITH;
    }
  }
}
