/*###########################################################################
  Margin utility classes
  ########################################################################### */

/*- Creates all of the margin spacing classes
  --------------------------------------------------------------------------  */

// Loops over the spacingMap, combining the spacings with the directions
// @$suffix: 0, 1, 2, 3, 4, 5
// @$spacing: 0, 0.5em, 1em, 2em, 4em, etc.
@each $suffix, $spacing in $spacingMap {


  // Loops over the directionsMap using their prefix and the directions
  // @$prefix: null, t, r, b, l, x, y
  // @$directions: margin, margin-top, margin-right, (margin-left, margin-right), etc.
  @each $prefix, $directions in $marginDirectionsMap {

    // Creates a class, such as .m1, .my4, etc;
    .m#{$prefix}#{$suffix} {

      // Loops over the directions if there are multiple directions.
      // null: (margin), y: (margin-top, margin-bottom), etc.
      // @$spacing: utilises the spacing value.
      @each $direction in $directions {
        #{$direction}: deep-map-get($spacingMap, $suffix, "fixed") !important;
        #{$direction}: deep-map-get($spacingMap, $suffix, "variable") !important;
      }
    }
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mx-md-auto {
  @include media-breakpoint-down('md') {
    margin-left: auto;
    margin-right: auto;
  }
}


.mxn3 {
  margin-right: -$SPACING_3 * $fixedFactor;
  margin-left: calc(-#{$SPACING_3} * var(--spacing-factor));
  margin-right: -$SPACING_3 * $fixedFactor;
  margin-left: calc(-#{$SPACING_3} * var(--spacing-factor));
}

/*
* This class is used to 'pull' the first and last column out towards the edges of the row. 
* We need this because using .row with the tiny slider (our js slider library) breaks
* the slider items.
*/
@include media-breakpoint-up('md') {
  .mxn-md {
    margin-right: -$SPACING_3 * $fixedFactor;
    margin-right: calc(-#{$SPACING_3} * var(--spacing-factor));
    margin-left: -$SPACING_3 * $fixedFactor;
    margin-left: calc(-#{$SPACING_3} * var(--spacing-factor));
  }
}