/*###########################################################################
  Padding utility classes
  ########################################################################### */

/*- Creates all of the margin spacing classes
  --------------------------------------------------------------------------  */

// Loops over the spacingMap, combining the spacings with the directions
// @$suffix: 0, 1, 2, 3, 4, 5
// @$spacing: 0, 0.5em, 1em, 2em, 4em, etc.
@each $suffix, $spacing in $spacingMap {


  // Loops over the directionsMap using their prefix and the directions
  // @$prefix: null, t, r, b, l, x, y
  // @$directions: margin, margin-top, margin-right, (margin-left, margin-right), etc.
  @each $prefix, $directions in $paddingDirectionsMap {

    // Creates a class, such as .m1, .my4, etc;
    .p#{$prefix}#{$suffix} {

      // Loops over the directions if there are multiple directions.
      // null: (margin), y: (margin-top, margin-bottom), etc.
      // @$spacing: utilises the spacing value.
      @each $direction in $directions {
        #{$direction}: deep-map-get($spacingMap, $suffix, "fixed") !important;
        #{$direction}: deep-map-get($spacingMap, $suffix, "variable") !important;
      }
    }
  }
}

.pl-30 {
  padding-left: 30%;
}
.pr-30 {
  padding-right: 30%;
}
@include media-breakpoint-down('md') {
  .p-md-down-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.header-padding {
  padding-top: 188px;
}