/*###########################################################################
  Utility classes to make CSS shapes
  ########################################################################### */


/*- Triangle extends
  --------------------------------------------------------------------------  */

%sh-triangle {
  width: 0;
  height: 0;
  border-style: solid;
}

%sh-triangle-up {
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}

%sh-triangle-left {
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

%sh-triangle-right {
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

%sh-triangle-down {
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}


/*- Triangles utils
  --------------------------------------------------------------------------  */

.sh-triangle {
  @extend %sh-triangle;
}

.sh-triangle-up {
  @extend %sh-triangle-up;
}

.sh-triangle-left {
  @extend %sh-triangle-left;
}

.sh-triangle-right {
  @extend %sh-triangle-right;
}

.sh-triangle-down {
  @extend %sh-triangle-down;
}