/*###########################################################################
  Max-width utility classes
  ########################################################################### */

.mw-300 {
  max-width:    300px;
  margin-left:  auto;
  margin-right: auto;
}

.mw-350 {
  max-width:    350px;
  margin-left:  auto;
  margin-right: auto;
}

.mw-700 {
  max-width:    700px;
  margin-left:  auto;
  margin-right: auto;
}

.mw-850 {
  max-width:    850px;
  margin-left:  auto;
  margin-right: auto;
}