/*###########################################################################
  Utility classes related to z-index
  ########################################################################### */

$zIndexMap: (
  0:    0,
  1:    1,
  2:    2,
  3:    3,
  4:    4,
  top:  50,
  admin: 999,
);

@each $prefix, $value in $zIndexMap {
  .z#{$prefix} {
    z-index: $value;
  }
}