/*###########################################################################
  The default font setup for Champions Speakers
  ########################################################################### */

html {
  font-size:    $FS_BASE;
  font-family:  $FONT_BODY;
  color:        $FONT_DARK;
}

.upper, h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family:  $FONT_HEADING;
}

// FIXME: this should be turned into a loop
h1 {
  @include responsive-typography("h1");
}

h2 {
  @include responsive-typography("h2");
}

h3 {
  @include responsive-typography("h3");
}

body {
  @include responsive-typography("body");
}

h2 {
  margin-top: deep-map-get($spacingMap, 3, "fixed");
  margin-top: deep-map-get($spacingMap, 3, "variable");
  margin-bottom: deep-map-get($spacingMap, 2, "fixed");
  margin-bottom: deep-map-get($spacingMap, 2, "variable");
}

p {
  line-height: 2.8rem;
}
