/*###########################################################################
  Default form styles
  ########################################################################### */

input:not(.button), textarea {
  background-color: $WHITE;
  border: none;
  text-transform: uppercase;
  @include responsive-typography('h5');
  border-radius: $BUTTON_RADIUS;
  width: 100%;
  font-family: $FONT_INPUT;
  border: 1.5px $BLACK solid;
  margin: 0;
}

input, textarea {
  padding: $SPACING_2;
}

input.error  {
  border: 1.5px $TANGO solid;
}
