/*###########################################################################
  Default link styles
  ########################################################################### */

a {
  color:           inherit; // this is much easier to deal with.
  text-decoration: inherit; // NOTE:  might be not necessary?
  font-weight:     inherit;
  font-family:     inherit;
  text-transform:  inherit;
  font-size:       inherit;
}
